/* #bt {
    background-color: #C92549;
    border-color: #C92549;
}

#bt2 {
    background-color: #0F1221;
    border-color: #0F1221;
} */

/* #one_survry{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    font-family: Almoni ML v5 AAA;

} */
#question {
    font-family: Almoni ML v5 AAA;
    margin: auto;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#respons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    font-family: Almoni ML v5 AAA;
}

button {
    color: white;
    background-color: #0F1221;
    font-size: xx-large;
    text-shadow: 2px 2px 0px white;
    padding: 8px;
    width:30pc ;
}
.send{
    margin-top: 15px;
    background-color:#C92549 ;
}
.cho{
    opacity: 0.5;

}
h2{
    font-family: Almoni ML v5 AAA;

}
